Vivado/.Xil/
Vivado/*.log
Vivado/*.jou
Vivado/*.str
Vivado/mz_7020*/
Vivado/pynqzu*/
Vivado/pz_7030*/
Vivado/tebf0808*/
Vivado/uzeg_pci*/
Vivado/uzev*/
Vivado/zc706_lpc*/
Vivado/zcu102_hpc0*/
Vivado/zcu102_hpc1*/
Vivado/zcu104*/
Vivado/zcu106_hpc0*/
Vivado/zcu106_hpc1*/
Vivado/zcu111*/
Vivado/zcu208*/
Vivado/zedboard*/
Vitis/.*/
Vitis/.*
Vitis/*.log
Vitis/*.jou
Vitis/boot/
Vitis/*_workspace/
PetaLinux/mz_7020/
PetaLinux/pynqzu/
PetaLinux/pz_7030/
PetaLinux/tebf0808/
PetaLinux/uzeg_pci/
PetaLinux/uzev/
PetaLinux/zc706_lpc/
PetaLinux/zcu102_hpc0/
PetaLinux/zcu102_hpc1/
PetaLinux/zcu104/
PetaLinux/zcu106_hpc0/
PetaLinux/zcu106_hpc1/
PetaLinux/zcu111/
PetaLinux/zcu208/
PetaLinux/zedboard/
docs/build/
bootimages/
PetaLinux/offline.txt
RemoteSystemsTempFiles/
