Vivado/.Xil/
Vivado/*.log
Vivado/*.jou
Vivado/*.str
Vi*/mz_7020*/
Vi*/pynqzu*/
Vi*/pz_7030*/
Vi*/tebf0808*/
Vi*/uzeg_pci*/
Vi*/uzev*/
Vi*/zc706_lpc*/
Vi*/zcu102_hpc0*/
Vi*/zcu102_hpc1*/
Vi*/zcu104*/
Vi*/zcu106_hpc0*/
Vi*/zcu106_hpc1*/
Vi*/zcu111*/
Vi*/zcu208*/
Vi*/zedboard*/
Vitis/.*/
Vitis/.*
Vitis/*.log
Vitis/*.jou
Vitis/boot/
Vitis/embeddedsw/
PetaLinux/mz_7020/
PetaLinux/pynqzu/
PetaLinux/pz_7030/
PetaLinux/tebf0808/
PetaLinux/uzeg_pci/
PetaLinux/uzev/
PetaLinux/zc706_lpc/
PetaLinux/zcu102_hpc0/
PetaLinux/zcu102_hpc1/
PetaLinux/zcu104/
PetaLinux/zcu106_hpc0/
PetaLinux/zcu106_hpc1/
PetaLinux/zcu111/
PetaLinux/zcu208/
PetaLinux/zedboard/
docs/build/
bootimages/
PetaLinux/offline.txt

