RemoteSystemsTempFiles/
Vivado/.Xil/
*.log
*.jou
Vitis/*_workspace/
Vitis/.*/
Vitis/.*
Vitis/boot/
docs/build/
bootimages/
PetaLinux/offline.txt
# UPDATER START
Vivado/pynqzu/
PetaLinux/pynqzu/
Vivado/pz_7030/
PetaLinux/pz_7030/
Vivado/zc706_lpc/
PetaLinux/zc706_lpc/
Vivado/uzeg_pci/
PetaLinux/uzeg_pci/
Vivado/uzev/
PetaLinux/uzev/
Vivado/zcu102_hpc0/
PetaLinux/zcu102_hpc0/
Vivado/zcu102_hpc1/
PetaLinux/zcu102_hpc1/
Vivado/zcu104/
PetaLinux/zcu104/
Vivado/zcu106_hpc0/
PetaLinux/zcu106_hpc0/
Vivado/zcu111/
PetaLinux/zcu111/
Vivado/zcu208/
PetaLinux/zcu208/
Vivado/zedboard/
PetaLinux/zedboard/
# UPDATER END
