/include/ "system-conf.dtsi"
/ {
};

    &gem0 {
        local-mac-address = [00 0a 35 00 01 22];
        phy-handle = <&extphy0>;
        status = "okay";
        xlnx,has-mdio = <0x1>;
        psu_ethernet_0_mdio: mdio {
                #address-cells = <1>;
                #size-cells = <0>;
                extphy0: phy@0 {
                        device_type = "ethernet-phy";
                        reg = <0>;
                };
                gmii_to_rgmii_0: gmii_to_rgmii_0@8 {
                        phy-handle = <&extphy0>;
                        reg = <8>;
                };
        };
    };  
      
    &gem1 {
        local-mac-address = [00 0a 35 00 01 23];
        phy-handle = <&extphy1>;
        status = "okay";
        xlnx,has-mdio = <0x1>;
        psu_ethernet_1_mdio: mdio {
                #address-cells = <1>;
                #size-cells = <0>;
                extphy1: phy@0 {
                        device_type = "ethernet-phy";
                        reg = <0>;
                };
                gmii_to_rgmii_1: gmii_to_rgmii_1@8 {
                        phy-handle = <&extphy1>;
                        reg = <8>;
                };
        };
    };  
      
